@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color variables from https://vercel.com/design/color */

  /* Primary */

  /* Light mode */
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  /* Dark mode */
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-foreground: #000;

  /* Error */

  /* Light mode */
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  /* Dark mode */
  --geist-error: #e00;
  --geist-error-dark: #c50000;

  /* Success */

  /* Light mode */
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  /* Dark mode */
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;

  /* Warning */

  /* Light mode*/
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  /* Dark mode*/
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;

  /* Violet */

  /* Light mode*/
  --geist-violet-lighter: #d8ccf1;
  --geist-violet-light: #8a63d2;
  /* Dark mode*/
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;

  /* Cyan */

  /* Light mode */
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  /* Dark mode */
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;

  /* Highlight */

  /* Light mode */
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  /* Dark mode */
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
}
